<p-toolbar>
  <div class="ui-tooltip-group-left">

    <a routerLink="players">
      <p-button label="Players" styleClass="ui-button-info">
      </p-button>
    </a>


    <a routerLink="teams">
      <p-button label="Teams" styleClass="ui-button-info">
      </p-button>

    </a>

    <a routerLink="matches">
      <p-button label="Matches" styleClass="ui-button-info">
      </p-button>
    </a>

    <a routerLink="season">
      <p-button label="Seasons" styleClass="ui-button-info">
      </p-button>
    </a>

    <a routerLink="leagues">
      <p-button label="Leagues" styleClass="ui-button-info">
      </p-button>
    </a>

  </div>
</p-toolbar>
<router-outlet></router-outlet>
